{% extends 'bike_base.html' %}

{% block content %}
<section class="cars" id="cars">
        <div class="heading">
            <span>HARLEY DAVIDSON Bikes</span>
        </div>
        <!--BIKES container-->
        <div class="cars-container container">
            <!--Box 1-->
            <div class="card" style="width: 18rem;">
                <img src="../../static/image/bikes/1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Forty Eight</h5>
                    <p class="card-text">Full stock bike running at only 5800 Km.
                        Delhi registered on 2015.
                        1<sup>st</sup>owner.<br><br><br>
                    </p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../static/image/bikes/2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Road King</h5>
                    <p class="card-text">Full stock bike running at only 5800 Km.
                        Delhi registered on 2015.
                        1<sup>st</sup>owner.</p><br>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                
                <img src="../../static/image/bikes/3.png" class="card-img-top" alt="...">
                <div class="card-body"><br><br>
                    <h5 class="card-title">Fat Boy</h5>
                    <p class="card-text">Full stock bike running at only 5800 Km.
                        Delhi registered on 2015.
                        1<sup>st</sup>owner.</p><br><br><br>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
</div>
{% endblock %}