{% extends 'bike_base.html' %}

{% block content %}
    <section class="cars" id="cars">
        <div class="heading">
            <span>HONDA Bikes</span>
        </div>
        <!--BIKES container-->
        <div class="cars-container container">
            <!--Box 1-->
            <div class="card" style="width: 18rem;">
                <img src="../../static/image/bikes/13.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hayabusa Gen-2</h5>
                    <p class="card-text">Full stock bike running at only 5800 Km.<br>
                        Delhi registered on 2012.<br>
                        1<sup>st</sup>owner.
                    </p><BR>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
            <div class="card" style="width: 21rem;">
                <img src="../../static/image/bikes/14.png" class="card-img-top" alt="...">
                <div class="card-body"><br>
                    <h5 class="card-title">Honda CBR1000RR</h5>
                    <p class="card-text">Full stock bike running at only 8800 Km.<br>
                        Bengalore registered on 2015.<br>
                        1<sup>st</sup>owner.</p><BR>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <img src="../../static/image/bikes/15.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fireblade</h5>
                    <p class="card-text">Full stock bike running at only 18800 Km.<br>
                        Kolkata registered on 2018.
                        1<sup>st</sup>owner.</p><BR>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>

    </section>
    {% endblock %}