{% extends 'bike_base.html' %}

{% block content %}
<section class="cars" id="cars">
        <div class="heading">
            <span>KAWASAKI Bikes</span>
        </div>
        <!--BIKES container-->
        <div class="cars-container container">
            <!--Box 1-->
            <div class="card" style="width: 23rem;">
                <img src="../../static/image/bikes/pngwing.com (2).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ZX6R</h5>
                    <p class="card-text">Full stock bike running at only 5800 Km.<br>
                        Delhi registered on 2015.<br>
                        1<sup>st</sup>owner.
                    </p><BR>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../static/image/bikes/pngwing.com (3).png" class="card-img-top" alt="...">
                <div class="card-body"><br>
                    <h5 class="card-title">ZR10R 2014</h5>
                    <p class="card-text">Full stock bike running at only 5800 Km.<br>
                        Delhi registered on 2015.<br>
                        1<sup>st</sup>owner.</p><BR>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../static/image/bikes/pngwing.com (4).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Z1000</h5>
                    <p class="card-text">Full stock bike running at only 5800 Km.<br>
                        Delhi registered on 2015.
                        1<sup>st</sup>owner.</p><BR>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../static/image/bikes/pngwing.com (67).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ZH2</h5>
                    <p class="card-text">Full stock bike running at only 5800 Km.<br>
                        Delhi registered on 2015.
                        1<sup>st</sup>owner.</p><BR>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>

    </section>
    {% endblock %}