{% extends 'bike_base.html' %}

{% block content %}
    <section class="cars" id="cars">
        <div class="heading">
            <span>YAMAHA Bikes</span>
        </div>
        <!--BIKES container-->
        <div class="cars-container container">
            <!--Box 1-->
            <div class="card" style="width: 18rem;">
                <img src="./img/20.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hayabusa Gen-2</h5>
                    <p class="card-text">Full stock bike running at only 5800 Km.<br>
                        Delhi registered on 2015.<br>
                        1<sup>st</sup>owner.
                    </p><BR>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="./img/21.png" class="card-img-top" alt="...">
                <div class="card-body"><br>
                    <h5 class="card-title">Hayabusa 3rd Gen</h5>
                    <p class="card-text">Full stock bike running at only 5800 Km.<br>
                        Delhi registered on 2015.<br>
                        1<sup>st</sup>owner.</p><BR>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="./img/18.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Katana</h5>
                    <p class="card-text">Full stock bike running at only 5800 Km.<br>
                        Delhi registered on 2015.
                        1<sup>st</sup>owner.</p><BR>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>


    </section>
    {% endblock %}