{% extends "base.html" %}

{% block active_about %}Active{% endblock %}

{% block content %}
<section>
    <section class="about container" id="about">
        <div class="about-img">
            <img src="../../static/image/bikes/about.png" alt="">
        </div>
        <div class="about-text">
            <span>About Us</span>
            <h2>Cheap Prices With <br> Quality BIKES</h2>
            <p>We have bikes Starting from Pre-owned, all the way till 3rd hand bikes which are well maintained
                ,non-accidental at very reasonable price.
            </p>
            <!--About Button-->
            <a href="#" class="btn">Learn More</a>
        </div>
    </section>
{% endblock %}